$primary-50: #e4e8ef !default;
$primary-100: #bcc6d7 !default;
$primary-200: #8fa0bd !default;
$primary-300: #6279a2 !default;
$primary-400: #415d8e !default;
$primary-500: #333333 !default;
$primary-600: #1b3a72 !default;
$primary-700: #173267 !default;
$primary-800: #122a5d !default;
$primary-900: #0a1c4a !default;
$primary-A100: #809eff !default;
$primary-A200: #4d77ff !default;
$primary-A400: #1a50ff !default;
$primary-A700: #013dff !default;
$primary: $primary-500 !default;

$secondary-50: #f0f7e4 !default;
$secondary-100: #daecbc !default;
$secondary-200: #c1df8f !default;
$secondary-300: #a8d262 !default;
$secondary-400: #95c840 !default;
$secondary-500: #82be1e !default;
$secondary-600: #7ab81a !default;
$secondary-700: #6faf16 !default;
$secondary-800: #65a712 !default;
$secondary-900: #52990a !default;
$secondary-A100: #e1ffc7 !default;
$secondary-A200: #c5ff94 !default;
$secondary-A400: #a9ff61 !default;
$secondary-A700: #9bff47 !default;
$secondary: $secondary-500 !default;

$orange-25: #fef9f3 !default;
$orange-50: #fdf4e7 !default;
$orange-100: #f9e3c3 !default;
$orange-200: #f5d09b !default;
$orange-300: #f1bd72 !default;
$orange-400: #eeae54 !default;
$orange-500: #eba036 !default;
$orange-600: #e99830 !default;
$orange-700: #e58e29 !default;
$orange-800: #e28422 !default;
$orange-900: #dd7316 !default;
$orange-A100: #ffffff !default;
$orange-A200: #ffeada !default;
$orange-A400: #ffcda7 !default;
$orange-A700: #ffbf8e !default;
$orange: $orange-500 !default;

$red-25: #fcf2f2 !default;
$red-50: #fae5e5 !default;
$red-100: #f3bebe !default;
$red-200: #eb9393 !default;
$red-300: #e26868 !default;
$red-400: #dc4747 !default;
$red-500: #d62727 !default;
$red-600: #d12323 !default;
$red-700: #cc1d1d !default;
$red-800: #c61717 !default;
$red-900: #bc0e0e !default;
$red-A100: #ffe9e9 !default;
$red-A200: #ffb6b6 !default;
$red-A400: #ff8383 !default;
$red-A700: #ff6969 !default;
$red: $red-500 !default;

$green-25: #f4faf2 !default;
$green-50: #eaf6e6 !default;
$green-100: #cbe9c0 !default;
$green-200: #a8da96 !default;
$green-300: #85cb6c !default;
$green-400: #6bc04d !default;
$green-500: #51b52d !default;
$green-600: #4aae28 !default;
$green-700: #070806 !default;
$green-800: #379d1c !default;
$green-900: #278d11 !default;
$green-A100: #c9ffbf !default;
$green-A200: #9dff8c !default;
$green-A400: #72ff59 !default;
$green-A700: #5cff40 !default;
$green: $green-500 !default;

$turquoise-25: #f3fafa !default;
$turquoise-50: #e6f5f6 !default;
$turquoise-100: #c0e6e9 !default;
$turquoise-200: #96d5da !default;
$turquoise-300: #6cc4cb !default;
$turquoise-400: #4db7c0 !default;
$turquoise-500: #2daab5 !default;
$turquoise-600: #010202 !default;
$turquoise-700: #2299a5 !default;
$turquoise-800: #1c909d !default;
$turquoise-900: #117f8d !default;
$turquoise-A100: #bff7ff !default;
$turquoise-A200: #8cf1ff !default;
$turquoise-A400: #59eaff !default;
$turquoise-A700: #40e7ff !default;
$turquoise: $turquoise-500 !default;

$blue-25: #f2f5fa !default;
$blue-50: #e6ecf6 !default;
$blue-100: #c0d0e9 !default;
$blue-200: #96b0db !default;
$blue-300: #6c90cc !default;
$blue-400: #4d79c1 !default;
$blue-500: #2d61b6 !default;
$blue-600: #2859af !default;
$blue-700: #224fa6 !default;
$blue-800: #1c459e !default;
$blue-900: #11338e !default;
$blue-A100: #c0cfff !default;
$blue-A200: #8da8ff !default;
$blue-A400: #5a81ff !default;
$blue-A700: #416eff !default;
$blue: $blue-500 !default;

$violet-25: #f8f3fb !default;
$violet-50: #f2e7f8 !default;
$violet-100: #dec3ed !default;
$violet-200: #c89be1 !default;
$violet-300: #b173d5 !default;
$violet-400: #a155cc !default;
$violet-500: #9037c3 !default;
$violet-600: #8831bd !default;
$violet-700: #7d2ab5 !default;
$violet-800: #7323ae !default;
$violet-900: #6116a1 !default;
$violet-A100: #ead4ff !default;
$violet-A200: #d1a1ff !default;
$violet-A400: #b86eff !default;
$violet-A700: #ab55ff !default;
$violet: $violet-500 !default;

$gray-25: #f5f5f5 !default;
$gray-50: #ebebeb !default;
$gray-100: #d4d4d4 !default;
$gray-200: #adadad !default;
$gray-300: #8c8c8c !default;
$gray-400: #737373 !default;
$gray-500: #5a5a5a !default;
$gray-600: #525252 !default;
$gray-700: #484848 !default;
$gray-800: #3f3f3f !default;
$gray-900: #2e2e2e !default;
$gray: $gray-500 !default;

$white: #ffffff !default;

$black: #000000 !default;

$olive: #f6f6f4 !default;
