@import "colors";
@import "variables";

// BASICS
body {
  margin: 0px;
  padding: 0px;
  background-color: #172b3f;
  font-family: "Montserrat";
}

p {
  font-weight: 300;
  font-size: 16px;
}

h2 {
  font-weight: bold;
  font-size: 20px;
  color: #182430;
}

h4 {
  font-weight: 600;
  font-size: 24px;
}

h5 {
  font-weight: 300;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #f8eac5;
}

// MEMBER

.hero {
  position: relative;

  p {
    color: white;
    font-weight: 700;
    font-size: 70px;
    letter-spacing: -3px;
    position: relative;
    bottom: 9rem;
  }

  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 100%;
  overflow: hidden;
  position: relative;

  .hero-background {
    object-fit: contain;
    opacity: 0.5;
    width: 100%;
  }

  .hero-content {
    display: flex;
    position: absolute;
    flex-direction: row;
    align-items: center;
  }

  .hero-button {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 1rem;
  }
}

.details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: $width-standard;
  margin: -2rem auto 2rem auto;
  position: relative;
  padding: 0 2rem 0 2rem;

  p {
    color: black;
    font-weight: 300;
    font-size: 24px;
  }
}

.details-info {
  margin: 2rem 0 !important;

  h1 {
    color: white;
  }

  h2 {
    color: #f8eac5;
    font-weight: 200;
    margin-bottom: 2rem;
    line-height: 28px;
  }

  h3 {
    color: #f8eac5;
    font-weight: 200;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 2rem;
  }

  h4 {
    color: #f8eac5;
    font-weight: 200;
    font-size: 12px;
  }
}

.link-container {
  margin: 1rem 0 1rem 0;
  display: flex;

  a.link {
    padding: 1rem 3em;
    border: 4px #f8eac5 solid;
    border-radius: 28px;
    color: #f8eac5;
    margin: auto;
    font-weight: bold;

    &:hover {
      color: #172b3f;

      background-color: #f8eac5;
    }
  }
}

.title-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.link-back {
  margin-left: 2rem;

  a.link {
    padding: 0.5rem 1rem;
    border: 2px #f8eac5 solid;
    border-radius: 28px;
    color: #f8eac5;
    margin: 2rem auto;
    font-weight: bold;
    font-size: 14px;

    &:hover {
      color: #172b3f;
      background-color: #f8eac5;
    }
  }
}

@media only screen and (min-width: 600px) {
  .link-back {
    display: flex;
  }
}

@media only screen and (max-width: 600px) {
  .link-back {
    display: none;
  }
}

.details-container {
  display: flex;
  justify-content: center;
}

.inline-link {
  color: #f8eac5;

  font-weight: bold;

  &:hover {
    text-decoration: underline;
  }
}

.details-icon {
  width: 80%;
  margin-top: 15px;
  // margin-left: 10px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  display: flex;
  background-color: $olive;
  padding: 2rem 0;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.container {
  width: $width-standard;
  flex-wrap: wrap;
  margin: 4rem auto;

  h4 {
    margin-top: 0;
  }
}

.container-padding {
  width: calc(#{$width-standard} + 2rem);
  margin: auto;
  flex-wrap: wrap;

  h4 {
    margin-left: 1rem;
    margin-top: 0;
  }
}

.tile {
  padding: 1.5rem;
  margin: 1rem;
  background-color: white;
  // flex: 1 1;
  width: calc(33% - 2rem);
}

// LIST

.list-container {
  width: $width-standard;
  margin: auto;
  flex-wrap: wrap;
}

.list-title {
  display: flex;
  flex-direction: row;
  align-items: center;

  h4 {
    margin-right: 1rem;
  }
}

.list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2rem 0 1rem 0;
  border-top: 1px solid $gray-100;

  h5 {
    margin-top: 0rem;
    margin-bottom: 0rem;
  }

  p.list-date {
    margin-top: 0rem;
  }
}

.list-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $blue-100;
  border-radius: 50%;
  height: 80px;
  min-width: 80px;
  margin-right: 2rem;
}

.list-logo {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.list-open {
  height: auto;
}

.list-closed {
  overflow: hidden;
  height: 0px;
}

// RATINGS

.rating-container {
  width: $width-standard;
  margin: 2rem auto;
  border: 1px solid $gray-100;
  border-radius: 10px;
  position: relative;
}

.rating-item {
  margin: 1rem;
}

.rating-footer {
  display: flex;
  flex-direction: row;
  align-items: center;

  p {
    margin: 0px;
  }
}

.rating-icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 1rem;
}

.rating-name {
  flex-grow: 1;
}

.rating-arrowLeft {
  position: absolute;
  top: calc(50% - 30px);
  left: calc(-60px);
  cursor: pointer;
}

.rating-arrowRight {
  position: absolute;
  top: calc(50% - 30px);
  right: calc(-60px);
  cursor: pointer;
}

// SKILLS

.skill-item {
  h5 {
    margin: 0px;
  }
}

.skill-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
}

.skill-icon {
  margin-right: 1rem;
}

.skill-rating {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  overflow: hidden;
}

.skill-dot-active {
  height: 20px;
  background-color: $primary;
  flex-grow: 1;
  border-right: solid 1px $gray-300;
}

.skill-dot-inactive {
  height: 20px;
  background-color: $gray-100;
  flex-grow: 1;
  border-right: solid 1px $gray-50;
}

// HOBBIES

.hobby-item {
  position: relative;
  background-color: black;
  display: flex;
  padding: 0px;

  img {
    width: 100%;
    opacity: 0.7;
  }

  img:hover {
    opacity: 1;
  }

  h2 {
    margin: 0px;
    position: absolute;
    color: white;
    bottom: 1rem;
    left: 1rem;
    z-index: 100;
  }
}

// CARDS

.card {
  border: 0;
  height: 100%;
  border-radius: calc(0.5rem - 1px);
  color: rgba(0, 0, 0, 0.87);
  background-color: $white;
  width: 100%;
  box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0px rgba(0, 0, 0, 0.12);
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  font-size: 0.875rem; // CHECK

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    display: inline-block !important;
  }

  cursor: pointer;
}

.card-raised {
  transition: all 0 cubic-bezier(0.34, 2, 0.6, 1);
  align-items: stretch;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.14), 0 4px 25px 0px rgba(0, 0, 0, 0.12),
    0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.card-img-extended {
  transition: all 0.2s cubic-bezier(0.34, 2, 0.6, 1);

  &:hover {
    transform: translate3d(0, -10px, 0);
    box-shadow: 0 26px 38px -12px rgba(0, 0, 0, 0.2), 0 14px 25px 0px rgba(0, 0, 0, 0.12),
      0 18px 10px -5px rgba(0, 0, 0, 0.2);
  }
}

.card-body {
  padding: 2rem 2rem;
  flex: 1 1 auto;
  -webkit-box-flex: 1;

  & h4 {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }
}

.card-title {
  min-height: auto;
  display: inline-block;
  font-weight: 700;
  margin-bottom: 1rem;
}

.card-picture {
  margin: -2rem -2rem 0 -2rem;
  width: calc(100% + 4rem);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.paddingSmall {
  padding: 1rem;
}

.paddingVerySmall {
  padding: 0.25rem;
}

// CARITAS

.card {
  border: 0;
  height: 100%;
  border-radius: calc(0.5rem - 1px);
  color: rgba(0, 0, 0, 0.87);
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  font-size: 0.875rem;

  align-items: stretch;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.14), 0 4px 25px 0px rgba(0, 0, 0, 0.12),
    0 8px 10px -5px rgba(0, 0, 0, 0.2);

  transition: all 0.2s cubic-bezier(0.34, 2, 0.6, 1);
  &:hover {
    transform: translate3d(0, -10px, 0);
    box-shadow: 0 26px 38px -12px rgba(0, 0, 0, 0.2), 0 14px 25px 0px rgba(0, 0, 0, 0.12),
      0 18px 10px -5px rgba(0, 0, 0, 0.2);
  }

  img {
    width: 100%;
  }

  h2 {
    margin-bottom: 0px;
  }

  h5 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.card-content {
  margin: 1rem;
}

.card-selected {
  box-shadow: 0px 0px 10px 10px white;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: visible;
}

.pattern-background {
  background-color: #f6f6f4;
  height: 100%;
  padding-bottom: 10rem;
  position: relative;
}

.gift-pile {
  position: absolute;
  top: -22rem;
  width: 500px;
}

.nav {
  width: 100%;
  display: flex;
  flex-direction: row;

  .nav-item {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    // flex: 1 1;
    // padding: 1rem;
    // border-radius: 10px;
    // z-index: 1000;

    img.nav-icon-hover {
      display: none;
    }

    &:hover {
      font-size: 80px;

      img.nav-icon {
        display: none;
      }
      img.nav-icon-hover {
        display: block;
      }
    }
  }

  img.nav-icon,
  img.nav-icon-hover {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 180px;
  }

  p.nav-title {
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    font-family: "Montserrat";
  }

  p.nav-text {
    color: #ebdcbe;
    font-size: 16px;
    font-weight: normal;
    font-family: "Montserrat";
    line-height: 22px;
  }

  .logo {
    height: 40px;
  }

  .navbar-button {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0.5rem;
    right: 2rem;

    p {
      color: white;
      font-weight: 700;
      font-size: 16px;
      margin: 0.2rem;
      padding: 0.5rem 1rem;
      border-radius: 20px;
    }
  }
}

.sidebar {
  border: 0;
  height: 100%;
  border-radius: calc(0.5rem - 1px);
  color: rgba(0, 0, 0, 0.87);
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  font-size: 0.875rem;
  background-color: $white;

  align-items: stretch;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.14), 0 4px 25px 0px rgba(0, 0, 0, 0.12),
    0 8px 10px -5px rgba(0, 0, 0, 0.2);

  img {
    width: 100%;
  }

  h2 {
    margin-top: 0px;
  }

  h5 {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .sponsor-logo {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-left: 3rem;
  }
}

.sidebar-content {
  padding: 1rem;
}

.titlePane {
  position: relative;
  background-repeat: no-repeat;
  // height: 600px;
  background-repeat: repeat;
  overflow: hidden;
  width: 100%;
  z-index: 0;
  border-top: 1px solid #89999f;
  padding-top: 2rem;
  // display: flex;
  // justify-content: center;
  // align-items: flex-end;
}

.titlePane-right {
  position: absolute;
  right: 0px;
  top: 0px;
  background-repeat: no-repeat;
  height: 400px;
  width: 700px;
  background-size: contain;
  background-position: right;
}

.titlePane-title {
  z-index: 100;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 2rem);
  max-width: 400px;
  margin-top: 150px;
  padding: 0 1rem 10rem 1rem;

  img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

// @media only screen and (max-width: 400px) {
//   .titlePane-title {
//     z-index: 100;
//     position: absolute;
//     left: calc(50% - 150px);
//     top: 200px;
//     width: 100%;
//     max-width: 300px;
//   }
// }

.carousel-item {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: none;
}

.dialog {
  padding: 2rem;
  background-repeat: no-repeat;

  p {
    font-size: 20px;
    font-weight: 500;
    font-family: "Indie Flower";
  }
}

.dialog-picture {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    border-radius: 50%;
    width: 250px;
  }
}

.dialog-right {
  position: absolute;
  top: -0;
  right: 0px;
  height: 226px;
  width: 300px;
  background-repeat: no-repeat;
}

.dialog-action {
  margin-bottom: -1rem;
  margin-right: -1rem;

  p {
    color: #ffffff;
    font-size: 12px;
    font-weight: normal;
    font-family: "Montserrat";
    margin: 0px;
  }
}

.info {
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: flex-start;
  width: 100%;

  // div {
  //   padding-right: 4rem;
  // }

  p {
    color: #ffffff;
    font-size: 14px;
    font-weight: normal;
    font-family: "Montserrat";
    margin-bottom: 0.3rem;
    margin-top: 0;
  }

  p.sectionTitle {
    color: #89999f;
    padding-bottom: 0.5rem;
  }

  .socialmedia {
    margin-right: 1rem;
    height: 50px;
    width: 50px;
  }
}

// PROGRESS

.progress {
  margin-bottom: 6rem;
  text-align: center;

  p.progress-title {
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    font-family: "Montserrat";
    margin-bottom: 0.2rem;
    margin-top: 0;
  }

  p.progress-date {
    color: #a8957a;
    font-size: 14px;
    font-weight: normal;
    font-family: "Montserrat";
    margin-bottom: 1rem;
    margin-top: 0;
  }
}

.progress-outer {
  height: 50px;
  width: 500px;
  border: 4px #f7e1ba solid;
  border-radius: 28px;
}

.progress-inner {
  margin-top: 5px;
  margin-left: 5px;
  height: 40px;
  width: 300px;
  background-color: #f7e1ba;
  border-radius: 20px;

  p {
    margin: 0 1rem;
    line-height: 40px;
    font-weight: bold;
    font-family: "Montserrat";
    color: #182430;
    font-size: 20px;
    text-align: right;
  }
}

.MuiButton-containedPrimary {
  background-color: #2a4055 !important;
}

.MuiButton-containedPrimary:hover {
  background-color: #182430 !important;
}

.MuiBackdrop-root {
  backdrop-filter: blur(5px) !important;
}

// SUBSITES

// CART

.cart-icon {
  .material-icons {
    color: #172b3f;
  }

  .MuiButtonBase-root {
    background-color: white;
  }
}

.cart-container {
  padding: 2rem;
  max-width: 300px;

  p {
    font-size: 14px;
  }
}

.cart-item {
  padding: 1rem 0;
  width: 100%;
  border-top: solid 1px $gray-50;
  display: flex;
  flex-direction: row;
}

.cart-image {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin: 0 1rem 0 0;
}

.cart-num {
  color: #172b3f;
  font-weight: bold;
}

.cart-delete {
  flex: 1 1;
  display: flex;
  justify-content: flex-end;
  position: relative;
  right: -0.5rem;

  .material-icons {
    color: #cc0a15;
  }
}

// LANTERNS

@-webkit-keyframes swinging {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-1deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

@keyframes swinging {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@-webkit-keyframes swingingback {
  0% {
    -webkit-transform: rotate(-1deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-1deg);
  }
}

@keyframes swingingback {
  0% {
    transform: rotate(-1deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-1deg);
  }
}

@-webkit-keyframes swingingstrong {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(5deg);
  }
}

@keyframes swingingstrong {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}

.swingimage {
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-animation: swinging 3.5s ease-in-out forwards infinite;
  animation: swinging 3.5s ease-in-out forwards infinite;
  position: absolute;
  z-index: 2;
}

.swingimageback {
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-animation: swingingback 3.5s ease-in-out forwards infinite;
  animation: swingingback 3.5s ease-in-out forwards infinite;
  position: absolute;
}

// .swingimage:hover {
//   -webkit-transform-origin: 50% 0;
//   transform-origin: 50% 0;
//   -webkit-animation: swingingstrong 3.5s ease-in-out forwards infinite;
//   animation: swingingstrong 3.5s ease-in-out forwards infinite;
//   position: absolute;
// }

.lantern1 {
  left: calc(50% - 980px);
  top: 0px;
}

.lantern2 {
  left: calc(50% - 950px);
  top: 0px;
}

.lantern3 {
  left: calc(50% - 910px);
  top: 0px;
}

.lantern4 {
  left: calc(50% - 780px);
  top: -30px;
}

.lantern5 {
  left: calc(50% - 780px);
  top: -60px;
}

.lantern6 {
  left: calc(50% - 750px);
  top: -30px;
}

.lantern7 {
  left: calc(50% - 730px);
  top: -50px;
}

.lantern8 {
  left: calc(50% - 705px);
  top: -20px;
}

.lantern9 {
  left: calc(50% - 660px);
  top: 0px;
}

.lantern10 {
  left: calc(50% - 630px);
  top: 0px;
  z-index: 0;
}

.lantern11 {
  left: calc(50% - 540px);
  top: 0px;
}

.lantern12 {
  left: calc(50% - 460px);
  top: -100px;
  z-index: 3;
}

.lantern13 {
  left: calc(50% - 465px);
  top: 0px;
}

.lantern14 {
  left: calc(50% - 375px);
  top: 0px;
}

.lantern15 {
  left: calc(50% - 340px);
  top: -80px;
}

.lantern16 {
  left: calc(50% - 290px);
  top: -100px;
}

.lantern17 {
  left: calc(50% - 750px);
  top: -40px;
}
.lantern18 {
  left: calc(50% - 600px);
  top: -70px;
}

.lantern19 {
  left: calc(50% - 930px);
  top: -100px;
}

.lantern20 {
  right: calc(50% - 180px);
  top: -100px;
  z-index: 0;
}

.lantern21 {
  right: calc(50% - 300px);
  top: -80px;
}

.lantern22 {
  right: calc(50% - 430px);
  top: -100px;
}

.lantern23 {
  right: calc(50% - 430px);
  top: -50px;
}

.lantern24 {
  right: calc(50% - 560px);
  top: -40px;
  z-index: 3;
}

.lantern25 {
  right: calc(50% - 590px);
  top: 0px;
}

.lantern26 {
  right: calc(50% - 610px);
  top: -20px;
}

.lantern27 {
  right: calc(50% - 650px);
  top: 0px;
}
.lantern28 {
  right: calc(50% - 670px);
  top: -70px;
}
.lantern29 {
  right: calc(50% - 730px);
  top: 0px;
  z-index: 1;
}

.lantern30 {
  right: calc(50% - 735px);
  top: -20px;
  z-index: 1;
}

.lantern31 {
  right: calc(50% - 830px);
  top: -50px;
  z-index: 3;
}

.lantern32 {
  right: calc(50% - 850px);
  top: 0px;
}

.lantern33 {
  right: calc(50% - 870px);
  top: 0px;
}

.lantern34 {
  right: calc(50% - 870px);
  top: 0px;
}
.lantern35 {
  right: calc(50% - 955px);
  top: 0px;
  z-index: 1;
}
.lantern36 {
  right: calc(50% - 1050px);
  top: -70px;
}
.lantern37 {
  right: calc(50% - 990px);
  top: 0px;
  z-index: 1;
}

// STARS

.animated-stars {
  -webkit-animation: changeColor 10s infinite;
  -moz-animation: changeColor 10s infinite;
  -o-animation: changeColor 10s infinite;
  animation: changeColor 10s infinite;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

@-webkit-keyframes changeColor {
  0% {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
  25% {
    -webkit-filter: grayscale(75%);
    filter: grayscale(75%);
  }
  50% {
    -webkit-filter: grayscale(50%);
    filter: grayscale(50%);
  }
  75% {
    -webkit-filter: grayscale(25%);
    filter: grayscale(25%);
  }
  100% {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
  }
}

@-moz-keyframes changeColor {
  0% {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
  25% {
    -webkit-filter: grayscale(75%);
    filter: grayscale(75%);
  }
  50% {
    -webkit-filter: grayscale(50%);
    filter: grayscale(50%);
  }
  75% {
    -webkit-filter: grayscale(25%);
    filter: grayscale(25%);
  }
  100% {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
  }
}

@-o-keyframes changeColor {
  0% {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
  25% {
    -webkit-filter: grayscale(75%);
    filter: grayscale(75%);
  }
  50% {
    -webkit-filter: grayscale(50%);
    filter: grayscale(50%);
  }
  75% {
    -webkit-filter: grayscale(25%);
    filter: grayscale(25%);
  }
  100% {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
  }
}

@keyframes changeColor {
  0% {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: opacity(100%);
  }
  50% {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    filter: opacity(20%);
  }
  100% {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: opacity(100%);
  }
}

.overlay-bottom {
  background-image: linear-gradient(to bottom, rgba(24, 43, 63, 0), rgba(24, 43, 63, 0.8), rgba(24, 43, 63, 1));
  // background-color: red;
  height: 300px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  z-index: 1;
}

.overlay-top {
  background-image: linear-gradient(to top, rgba(24, 43, 63, 0), rgba(24, 43, 63, 1));
  height: 100px;
  width: 100%;
  position: absolute;
  top: 0px;
  z-index: 200;
}

.overlay-logo {
  position: fixed;
  z-index: 300;
  left: 30px;
  top: 30px;
}

// NAVBAR

.nav-icons {
  margin-top: 1rem;
  .MuiIcon-root {
    color: #ebdcbe;
    font-size: 30px;
  }
}

.nav-bar {
  position: relative;
  background-image: linear-gradient(to top, rgba(24, 43, 63, 0), rgba(24, 43, 63, 1));
  height: 100%;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

p.footerLink:hover {
  text-decoration: underline;
}

@media only screen and (min-width: 600px) {
  .footerLogo {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-items: flex-start;

    img {
      width: 100%;
    }
  }

  .button-container {
    padding: 2rem 0 3rem 0;
    .link-container:first-child {
      margin-right: 2rem;
    }
  }
}

@media only screen and (max-width: 600px) {
  .footerLogo {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-items: flex-start;

    img {
      width: 100%;
    }
  }

  .button-container {
    flex-direction: column;
    .link-container:first-child {
      margin-bottom: 1rem;
    }
  }
}

.partner {
  display: flex;
  flex-direction: row;
  color: white;
  width: 100%;

  div.sectionPart {
    padding: 0 2rem;
    border-right: #89999f 1px solid;

    &:first-child {
      padding-left: 0rem;
    }

    &:last-child {
      border-right: none;
    }
  }

  p {
    color: #ffffff;
    font-size: 14px;
    font-weight: normal;
    font-family: "Montserrat";
    margin-bottom: 0.3rem;
    margin-top: 0;
  }

  p.sectionTitle {
    color: #89999f;
    padding-bottom: 0.5rem;
  }

  .partner-image {
    margin-right: 2rem;
    width: 200px;
  }
}

@media only screen and (min-width: 600px) {
  .partner {
    margin-top: 3rem;
  }
}

@media only screen and (max-width: 600px) {
  .partner {
    margin-top: 1.5rem;

    .partner-image {
      margin-bottom: 1rem;
    }
  }
}

@media only screen and (max-width: 600px) {
  .MuiGrid-root h3:last-child {
    margin-bottom: 0px !important;
  }
}

.panel {
  background-color: #172b3f;
  height: 100%;
  width: 100%;
  padding: 2rem 0;
  width: 300px;

  p {
    font-size: 14px;
  }
}

.panelItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 2rem;
  margin-right: 2rem;
}

.panelIcon {
  max-width: 60px;
  height: 100%;
  width: 100%;
  margin-right: 1rem;
}

.panelItem:hover {
  .circle {
    background-color: #ebdcbe;
  }
}

.panelHR {
  border-color: #89999f;
  margin: 2rem 2rem;
}

.circle {
  border: #ebdcbe 2px solid;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  margin-right: 1rem;
}
