.container {
  margin-top: 3rem;
  background-color: #484848;
  position: relative;
  width: 100%;
}

.section {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  position: relative;
  top: -2rem;
  text-align: center;
  padding: 3rem 1rem;
}

.section h2 {
  margin-top: 0;
}

.seperator {
  background-image: linear-gradient(to top, #dadada, #faf9f7, #faf9f7);
  height: 100px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
  position: relative;
  bottom: 1px;
}

@media only screen and (min-width: 600px) {
  .social {
    line-height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 600px) {
  .social {
    line-height: 50px;
    display: flex;
    flex-direction: column;
  }
}

.linkedIn {
  background-color: #0a66c2;
  padding: 0.5rem;
  border-radius: 5px;
  margin: 0 1rem;
}

.linkedInIcon {
  color: white;
  position: relative;
  top: 5px;
  margin-right: 3px;
}

.instagram {
  background-color: #e1306c;
  padding: 0.5rem;
  border-radius: 5px;
  margin: 0 1rem;
}

.instagramIcon {
  /* color: #e1306c; */
  position: relative;
  top: 5px;
  margin-right: 0.5rem;
}

.addresses {
  margin-top: 3rem;
}

@media only screen and (max-width: 600px) {
  .office_swiss {
    margin-bottom: 2rem;
  }

  .office_austria {
    margin-left: 0;
  }

  .office_swiss p,
  .office_austria p {
    font-size: 16px;
    line-height: 18px;
  }
}

@media only screen and (min-width: 600px) {
  .office_swiss {
    text-align: right;
    margin-right: 1rem;
  }

  .office_austria {
    text-align: left;
    margin-left: 1rem;
  }
}

.office_swiss p,
.office_austria p {
  margin-bottom: 0;
  margin-top: 0.5rem;
}

.title {
  font-weight: bold;
}

.office p.small {
  margin-bottom: 0;
}
