/* NEU */
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container_color {
  background-image: linear-gradient(to top, #c0e6e9, #2daab5);
  width: 100%;
  position: relative;
}

.header {
  margin-bottom: 0;
  margin-top: 5rem;
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-repeat: repeat-x;
  background-position-y: bottom;
}

.title {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  height: 800px;
  padding: 0 1rem;
  position: relative;
  color: white;
}

@media (min-width: 900px) {
  .background {
    background-size: auto 70%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    position: relative;
    z-index: 2;
    height: 100%;
  }
}

@media (max-width: 900px) {
  .background {
    background-size: auto 50%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    position: relative;
    z-index: 2;
  }
}

.wave {
  width: 100%;
  position: absolute;
  bottom: -40px;
  z-index: 1;
}

.seperator {
  background-image: linear-gradient(to top, #f2f0eb, #faf9f7, #faf9f7);
  height: 100px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
  position: relative;
  top: 0px;
}

.seperator_bottom {
  background-image: linear-gradient(to bottom, #f2f0eb, #faf9f7, #faf9f7);
  height: 100px;
  clip-path: polygon(0% 0%, 0% 100%, 100% 100%);
  position: relative;
  bottom: 0px;
}

/* SUN */

.sun {
  position: absolute;
  top: 30%;
  left: 20%;
  margin: auto;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: white;
  opacity: 0.9;
  box-shadow: 0px 0px 40px 15px white;
  z-index: 0;
}

@media (min-width: 900px) {
  .sunOverlay {
    position: absolute;
    bottom: 40%;
    left: 45%;
    margin: auto;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: white;
    opacity: 0.9;
    box-shadow: 0px 0px 40px 15px white;
    z-index: 0;
  }
}

@media (max-width: 900px) {
  .sunOverlay {
    position: absolute;
    bottom: 25%;
    left: 45%;
    margin: auto;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: white;
    opacity: 0.9;
    box-shadow: 0px 0px 40px 15px white;
    z-index: 0;
    overflow: hidden;
  }
}

.ray_box {
  position: absolute;
  margin: auto;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 70px;
  -webkit-animation: ray_anim 120s linear infinite;
  animation: ray_anim 120s linear infinite;
}
.ray {
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));

  margin-left: 10px;
  border-radius: 80% 80% 0 0;
  position: absolute;
  opacity: 0.5;
}

.ray1 {
  height: 170px;
  width: 30px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  top: -175px;
  left: 15px;
}
.ray2 {
  height: 100px;
  width: 8px;
  -webkit-transform: rotate(220deg);
  transform: rotate(220deg);
  top: -90px;
  left: 75px;
}
.ray3 {
  height: 170px;
  width: 50px;
  -webkit-transform: rotate(250deg);
  transform: rotate(250deg);
  top: -80px;
  left: 100px;
}
.ray4 {
  height: 120px;
  width: 14px;
  -webkit-transform: rotate(305deg);
  transform: rotate(305deg);
  top: 30px;
  left: 100px;
}
.ray5 {
  height: 140px;
  width: 30px;
  -webkit-transform: rotate(-15deg);
  transform: rotate(-15deg);
  top: 60px;
  left: 40px;
}
.ray6 {
  height: 90px;
  width: 50px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  top: 60px;
  left: -40px;
}
.ray7 {
  height: 180px;
  width: 10px;
  -webkit-transform: rotate(70deg);
  transform: rotate(70deg);
  top: -35px;
  left: -40px;
}
.ray8 {
  height: 120px;
  width: 30px;
  -webkit-transform: rotate(100deg);
  transform: rotate(100deg);
  top: -45px;
  left: -90px;
}
.ray9 {
  height: 80px;
  width: 10px;
  -webkit-transform: rotate(120deg);
  transform: rotate(120deg);
  top: -65px;
  left: -60px;
}
.ray10 {
  height: 190px;
  width: 23px;
  -webkit-transform: rotate(150deg);
  transform: rotate(150deg);
  top: -185px;
  left: -60px;
}

@keyframes ray_anim {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes ray_anim {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.landscape {
  height: 900px;
}

.landscape_line {
  display: flex;
  flex-direction: row;
}

.landscape_item {
  flex: 1 1;
  padding: 0px !important;
  align-items: center;
  justify-items: center;
  cursor: pointer;
}

.landscape_item:hover {
  background-color: #fdf4e7;
}

.landscape_item_empty {
  width: 15px;
  height: 15px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ebebeb;
}

.tableContainer {
  width: 100% !important;
}

@media (max-width: 1300px) {
  .table_container {
    overflow-x: scroll;
  }
}

.table {
  width: 100%;
  max-width: 1300px;
}

.table_header {
  white-space: nowrap;
  text-align: left;
  position: relative;
}

.table_header_name div {
  position: absolute;
  bottom: 20px;
  min-width: 250px;
}

.table_header_name {
  position: relative;
  min-width: calc(250px + 2rem);
  background-color: white !important;
}

.table_header {
  border-bottom: 2px solid white !important;
  border-left: 1px solid white !important;
  border-right: 1px solid white !important;
}

.table_header div {
  /* transform: translate(10px, 80px) rotate(270deg);
  transform: rotate(270deg); */
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0px;
}

.table_header div p {
  margin: 0;
}

@media (max-width: 1300px) {
  .table_subheader div {
    width: 100% !important;
  }

  .table_subheader {
    padding: 1rem 0.1rem !important;
  }
}

.table_subheader {
  border: 1px solid white;
  cursor: pointer;
}

.table_subheader div {
  /* transform: translate(10px, 80px) rotate(270deg);
  transform: rotate(270deg); */
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  height: 120px;
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0px;
  width: 20px;
}

.table_subheader div p {
  margin: 0;
  letter-spacing: 0.5px;
}

.table_headerGray {
  background-color: #e6ecf6 !important;
}

.table_subheaderGray {
  background-color: #f2f5fa !important;
}

.table_headerOrange {
  background-color: #f9e3c3 !important;
}

.table_subheaderOrange {
  background-color: #fdf4e7 !important;
}

.table_headerRed {
  background-color: #f3bebe !important;
}

.table_subheaderRed {
  background-color: #fae5e5 !important;
}

.table_headerGreen {
  background-color: #cbe9c0 !important;
}

.table_subheaderGreen {
  background-color: #eaf6e6 !important;
}

.table_headerTurquoise {
  background-color: #c0e6e9 !important;
}

.table_subheaderTurquoise {
  background-color: #e6f5f6 !important;
}

.table_headerBlue {
  background-color: #c0d0e9 !important;
}

.table_subheaderBlue {
  background-color: #e6ecf6 !important;
}

.table_headerViolet {
  background-color: #dec3ed !important;
}

.table_subheaderViolet {
  background-color: #f2e7f8 !important;
}

.hoverover:hover {
  cursor: pointer;
  font-weight: bold;
}

.icon_full:hover {
  background: #eaf6e6;
}

.icon_partial:hover {
  background: #fdf4e7;
}

.icon_none:hover {
  background: #fae5e5;
}

.icon_wrapper {
  width: 100%;
}

.icon {
  font-size: 30px !important;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  cursor: pointer;
}

.icon_full .icon {
  color: #85cb6c;
}

.icon_partial .icon {
  color: #eeae54;
}

.icon_none .icon {
  color: #e26868;
}

/* SEARCH */

.search {
  width: 100%;
  position: relative;
}

.search .search_field {
  max-width: 500px;
  width: 100%;
  background-color: white !important;
  margin: 1rem auto;
}

.search .search_button {
  font-family: "Roboto Condensed";
  font-weight: 400;
  text-transform: none;
  font-size: 16px;
  margin: 1rem 0 1rem 1rem;
  line-height: 44px;
  background-color: white !important;
}

@media (max-width: 900px) {
  .search .search_button {
    width: 100%;
    margin: 1rem 0 0 0 !important;
  }
}

.search_toggle_container {
  position: relative;
  min-height: 48px;
}

@media (max-width: 900px) {
  .search_tabs {
    display: none;
  }
}

.search_toggle {
  position: absolute !important;
  right: 0rem;
  top: 0rem;
  z-index: 5;
}

.reset_button {
  margin-left: 1rem !important;
}

.search_open {
  display: block;
  border-bottom: 1px solid #ebebeb;
  padding: 1rem 2rem 1rem 2rem;
}

.search_close {
  display: none;
}

.search_select {
  margin: 1rem 0 1rem 1rem !important;
  width: 200px;
}

@media (max-width: 900px) {
  .search_select {
    width: 100%;
    margin: 0px !important;
  }
}

.search_select_label {
  z-index: 10;
  background-color: white;
  padding: 0 6px !important;
}

.popup {
  max-width: 600px;
  width: 100%;
}

.provider {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 30px;
  min-width: 250px;
}

.provider_logo {
  max-height: 30px;
  max-width: 30px;
  margin-right: 1rem;
}

.dialog {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.dialog_logo {
  max-height: 50px;
  max-width: 50px;
  margin-right: 1rem;
}

.dialog_icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #4d79c1;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white !important;
}

.name_logo {
  height: 50px;
  width: 50px;
  margin-right: 1rem;
}

/* PROVIDER TYPES */

.provider_img {
  width: 100%;
  padding: 0 3rem;
}

.provider_title {
  text-align: center;
  font-weight: bold;
}

.provider_text {
  text-align: center;
}

/* SERVICES */
.service_group {
  font-size: 14px;
  margin: 0px;
}

.service_title {
  margin: 0px;
  font-weight: bold;
}

.textOrange {
  color: #eba036;
}

.textRed {
  color: #d62727;
}

.textGreen {
  color: #51b52d;
}

.textTurquoise {
  color: #2daab5;
}

.textBlue {
  color: #2d61b6;
}

.textViolet {
  color: #9037c3;
}

/* FEEDBACK */

.feedback_textarea {
  width: 100%;
  background-color: white;
  margin-bottom: 1.5rem !important;
}

.feedback_textfield {
  width: 100%;
  background-color: white;
}

.feedback_button {
  width: 100%;
  font-family: "Roboto Condensed";
  font-weight: 700 !important;
  text-transform: none;
  font-size: 16px;
  margin: 1rem 0 1rem 1rem;
  line-height: 44px !important;
  background-color: white !important;
}

.feedback_button:hover {
  background-color: #8c8c8c !important;
  color: white;
}

.errorMsg {
  background-color: #fae5e5;
  padding: 0.5rem 1rem;
  margin-bottom: 1.5rem;
  border-radius: 5px;
}

.errorMsg p,
.confirmationMsg p {
  font-size: 16px;
  font-weight: 300;
  margin: 0;
}

.errorMsg_item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.errorMsg_icon {
  color: #dc4747;
  margin-right: 1rem;
}

.confirmationMsg {
  background-color: #eaf6e6;
  padding: 0.5rem 1rem;
  margin-bottom: 1.5rem;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.confirmationMsg_icon {
  color: #6bc04d;
  margin-right: 1rem;
}

/* TOOLTIP */

.tooltip_container p {
  margin-top: 0;
}

.tooltip_container p.tooltip_title {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.tooltip_container p.tooltip_text {
  margin-bottom: 0rem;
}

.tooltip_container p.tooltip_quote {
  font-style: italic !important;
  margin-top: 0.5rem;
  margin-bottom: 0;
}

/* TO DELETE ? */

.popover > div {
  width: 100%;
}

.hoverover p {
  font-size: 14px;
}

.hoverover_popper {
  border-top: #f5f5f5 solid 1px;
  padding: 1rem;
  width: 600px;
  border-radius: 10px;
  margin-bottom: 1rem;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  background-color: white;
  z-index: 2;
  position: absolute;
}

.hoverover_popper p {
  font-size: 14px;
  margin: 0px;
}

.select {
  width: 100%;
  margin-top: 1.5rem !important;
}

/* Newsletter */

.newsletter {
  display: absolute;
}

.button_container {
  text-align: center;
}

.button_show {
  transition: all 0.2s linear;
  background-color: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.06), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  font-weight: 400;
  font-size: 18px;
  color: #484848;
  display: inline-flex;
  line-height: 24px;
  flex: 0;
  cursor: pointer;
  margin-top: 2rem;
  margin-bottom: 0rem;
  margin-left: auto;
  margin-right: auto;
}

.button_icon {
  transition: all 0.2s linear;
  margin-top: 0px;
  margin-left: 1rem;
  color: #8c8c8c;
}

.button_show:hover {
  background-color: #737373;
  color: white;
}

.button_show:hover .button_icon {
  margin-top: 0px;
  margin-left: 2rem;
  color: white;
}

/* SERVICES */

.service {
  text-align: center;
  border: 1px solid #d4d4d4;
  border-radius: 10px;
  height: 100%;
  padding: 1.5rem;
}

.service_item {
  width: 50px;
  height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.service_list {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* max-width: 600px;
  margin-left: auto;
  margin-right: auto; */
}

.service_icon {
  /* border-radius: 50%;
  background-color: lightgrey;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center; */
  margin-right: 1rem;
}

.service_itemOrange {
  background-color: #f5d09b;
}

.service_itemRed {
  background-color: #eb9393;
}

.service_itemGreen {
  background-color: #a8da96;
}

.service_item span {
  font-size: 60px !important;
  color: #adadad;
}

.service h3 {
  font-weight: bold;
}

.service_image {
  width: 60%;
}

/* ROADMAP */
.roadmap {
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.roadmap img {
  width: 100%;
}

.powered {
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  padding: 0.5rem;
  bottom: 4rem;
  right: -7rem;
  opacity: 0.9;
}

.powered img {
  height: 16px;
  margin-left: 0.5rem;
}

.powered p {
  margin: 0;
  font-size: 14px;
  color: black;
}

@media (max-width: 1200px) {
  .powered {
    right: 0rem;
  }
}
